
.e33_156 { 
	background-color:rgba(255, 100.00000163912773, 95.00000193715096, 1);
	width:1497px;
	height:2967px;
	position:absolute;
	overflow:absolute;
}
.e33_157 { 
	width:530px;
	height:223px;
	position:absolute;
	left:670px;
	top:0px;
	background-image:url(images/large_862393567_ladygaga_chromaticalogo_png_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_159 { 
	width:361px;
	height:96px;
	position:absolute;
	left:760px;
	top:1104px;
	background-image:url(images/summer22_txt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_162 { 
	width:1497px;
	height:767px;
	position:absolute;
	left:175px;
	top:263px;
	background-image:url(images/ladygaga_admat_wide_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_163 { 
	color:#058555;
	width:392px;
	height:194px;
	position:absolute;
	left:175px;
	top:2359px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_164 { 
	color:#058555;
	width:392px;
	height:147px;
	position:absolute;
	left:1300px;
	font-weight: bold;
	top:2147px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_165 { 
	color:#058555;
	width:392px;
	height:174px;
	position:absolute;
	left:750px;
	top:2359px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_166 { 
	color:#058555;
	width:392px;
	height:189px;
	position:absolute;
	left:1050px;
	top:2600px;
	font-family:JetBrains Mono;
	text-align:center;
	font-weight: bold;
	font-size:24px;
	letter-spacing:0;
}
.e33_167 { 
	color:#058555;
	width:392px;
	height:189px;
	position:absolute;
	left:450px;
	top:2600px;
	font-family:JetBrains Mono;
	text-align:center;
	font-weight: bold;
	font-size:24px;
	letter-spacing:0;
}
.e33_168 { 
	color:#058555;
	width:392px;
	height:174px;
	position:absolute;
	left:1300px;
	top:2359px;
	font-family:JetBrains Mono;
	text-align:center;
	font-weight: bold;
	font-size:24px;
	letter-spacing:0;
}
.e33_169 { 
	color:#058555;
	width:393px;
	height:178px;
	position:absolute;
	left:750px;
	top:2152px;
	font-family:JetBrains Mono;
	text-align:center;
	font-weight: bold;
	font-size:24px;
	letter-spacing:0;
}
.e33_170 { 
	color:#058555;
	width:393px;
	height:186px;
	position:absolute;
	left:750px;
	top:1738px;
	font-family:JetBrains Mono;
	text-align:center;
	font-weight: bold;
	font-size:24px;
	letter-spacing:0;
}
.e33_171 { 
	color:#058555;
	width:392px;
	height:186px;
	position:absolute;
	left:175px;
	top:1738px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_172 { 
	color:#058555;
	width:392px;
	height:186px;
	position:absolute;
	left:1300px;
	top:1738px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_173 { 
	color:#058555;
	width:392px;
	height:198px;
	position:absolute;
	left:1300px;
	top:1530px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_174 { 
	color:#058555;
	width:392px;
	height:186px;
	position:absolute;
	left:1300px;
	top:1316px;
	font-family:JetBrains Mono;
	font-weight: bold;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_175 { 
	color:#058555;
	width:393px;
	height:149px;
	position:absolute;
	left:750px;
	top:1316px;
	font-family:JetBrains Mono;
	font-weight: bold;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_176 { 
	color:#058555;
	width:393px;
	height:185px;
	position:absolute;
	left:750px;
	font-weight: bold;
	top:1530px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_177 { 
	color:#058555;
	width:392px;
	height:185px;
	position:absolute;
	left:175px;
	top:1530px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_178 { 
	color:#058555;
	width:392px;
	height:173px;
	position:absolute;
	font-weight: bold;
	left:175px;
	top:1320px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_179 { 
	color:#058555;
	width:392px;
	height:179px;
	position:absolute;
	left:1300px;
	font-weight: bold;
	top:1942px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_180 { 
	color:#058555;
	width:393px;
	height:189px;
	position:absolute;
	left:750px;
	top:1944px;
	font-weight: bold;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_181 { 
	color:#058555;
	width:392px;
	height:178px;
	position:absolute;
	font-weight: bold;
	left:175px;
	top:2152px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_182 { 
	color:#058555;
	width:392px;
	height:188px;
	position:absolute;
	left:175px;
	font-weight: bold;
	top:1945px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_183 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:49px;
	position:absolute;
	left:820px;
	font-weight: bold;
	top:2868px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e33_184 { 
	width:64px;
	height:62px;
	position:absolute;
	left:760px;
	top:2855px;
	background-image:url(images/large_555768923_pinksine_png_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
